* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}

html {
  height: 100%;
}

body {
  position: relative;
  /*background-color: #E83C2E; */
  background-color: #CB2819;
  min-height: 100%;
  display: flex;
}

aside {
  position: fixed;
  left: 0;
  /* background-color: #B43C2E; */
  background-color: #A82819;
  width: 10%;
  height: 100vh;
  display: flex;
  align-items: center;
}

nav {
  width: 100%;
}

.nav-hover {
  position: relative;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-hover p {
  text-transform: uppercase;
}

.nav-hover:hover {
  background-color: #CB2819;
  width: 100%;
  cursor: pointer;
}

a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  position: absolute;
  right: 0;
  width: 90%;
  /* height: 295vh; */
}

.home {
  position: relative;
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/stepping_stones.jpg');
  background-size: cover;
  margin-bottom: 50px;
}

.home h1 {
  position: absolute;
  width: 90%;
  text-align: center;
  color: white;
  font-size: 2em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.home h3 {
  position: absolute;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.home .quick_contact {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#regular {
  text-transform: capitalize;
}

.quick_contact {
  padding: 50px 0 0 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.quick_contact #img_margin {
  margin-right: 10px;
}

.about {
  padding: 50px 0 50px 0;
  margin: 0 auto;
  width: 70%;
  text-align: justify;
}

.about h2 {
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.2em;
  font-weight: 100;
  margin-bottom: 0.5em;
}

.about p {
  color: white;
  line-height: 2em;
}

.tabs-menu .current a {
  background-color: white;
  color: #E88E6D;
}

#tabs-container {
  margin-top: 20px;
}

.tab {
  border: 1px solid white;
  margin-top: 1em;
  padding: 20px;
  color: white;
}

.tab-content {
  display:none;
}

#tab-1 {
  display:block;
}

.portfolio_row {
  display: flex;
  justify-content: space-around;
}

.portfolio_row h3 {
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.one_half {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.one_half p {
  width: 70%;
}

hr {
  margin-bottom: 1em;
}

/* .tabs-menu {
  list-style: none;
  display: flex;
} */

/* Different tabs styling */
/* .tabs-menu li a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 5px 5px 5px;
  border: 1px solid white;
  margin: 5px;
  background-color: #E83C2E;
  color: white;
}

.tabs-menu li a:hover {
  border: 1px solid white;
  margin: 5px;
  background-color: white;
  color: #E83C2E;
} */

.tabs-menu ul {
  margin: 150px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
}

.tabs-menu li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}

.tabs-menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.tabs-menu a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.tabs-menu a:hover:after { 
  width: 75%; 
  left: 11%; 
}

form input, textarea {
  width: 100%;
  height: 3em;
  background-color: #CB2819;
  border: 1px solid white;
  color: white;
}

input:focus, textarea:focus {
  outline: none;
  /* box-shadow: 0 0 5px rgba(255, 255, 255, .6) !important;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(255, 255, 255, .6) !important; */
}

form textarea {
  height: 10em;
}

#contact .field {
  margin-top: 20px;
}

#display_error {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btnBasic {
  text-transform: uppercase;
  font-size: 1em;
  padding: 10px 10px;
  border: 1px solid white;
  background-color: #CB2819;
  color: white;
}

.btnBasic:hover {
  background-color: white;
  color: #E83C2E;
  cursor: pointer;
}

h2 {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 0px;
/* position: relative; */
}
/* h2:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
h2:hover:after { 
  width: 100%; 
  left: 0; 
} */

.portfolioList {
  list-style: none;
}

.portfolioList a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-style: italic;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.portfolioList a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.portfolioList a:hover:after { 
  width: 100%; 
  left: 0; 
}

#contactForm input, textarea {
  padding: 10px;
}

/* removing-input-background-colour-for-chrome-autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #CB2819 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

/* underlining effect on hover over href links */
.menu_links ul {
  margin: 150px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
}

.menu_links li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}

.menu_links a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-style: italic;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.menu_links a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.menu_links a:hover:after { 
  width: 75%; 
  left: 11%; 
}

/* end of hover over effect on links */

#projets:first-of-type {
  border: 1px solid white;
  transition: box-shadow .3s;
}

#projets:first-of-type:hover {
  box-shadow: 0 0 15px rgba(255,255,255,.6);
}

#contact {
  margin-bottom: 90px;
}

#distance {
  margin-bottom: 1.5em;
}

footer {
  width: 100%;
  right: 0;
  padding-bottom: 10px;
  color: white;
  display: flex;
  justify-content: center;
}

/* On screens that are 1200px or less (large size) */
@media screen and (max-width: 1200px) {
  .portfolio_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
}

/* On screens that are 992px or less (medium size) */
@media screen and (max-width: 1012px) {
  aside {
    width: 100px;
    z-index: 10;
  }
  .home h3 {
  top: 65%;
  }
  .tabs-menu {
    display: flex;
    flex-direction: column;
  }
  .tabs-menu a {
    padding: 15px 10px;
  }
}

/* On screens that are 768px or less (small size) 
@media screen and (max-width: 768px) {
  
} */

/* On screens that are 576px or less (extra small size) */
@media screen and (max-width: 576px) {
  .about {
    width: 75%;
    margin-right: 25px;
  }
  .home h1 {
    width: 70%;
    left: 60%;
    top: 40%;
    font-size: 1.5em;
    text-align: center;
  }
  .home h3 {
    top: 60%;
    left: 60%;
    text-align: center;
  }
  .tabs-menu a {
    padding: 15px 5px;
  }
  .portfolio_row img {
    width: 280px;
  }
  .home h3 {
    text-align: center;
  }
}
